.DS_Store
.project
*.swp
*.swo
*.swn
*.pyc
Thumbs.db
.DS_Store
*.old
*~
*#
passenger_wsgi.py
public/
/config/fbmvc.config.php
/tmp/*
/com/fusionbox/mvc/model/sql/*
/mvc/model/sql/*
/public_html/img
/public_html/pdf
/public_html/doc
/public_html/flir/cache
/log/*
/log/apache2/*
/apache2-logs/*
/.cpanel/
/.lastlogin
/mail/
/.ifb_history
placenoun/site_settings.py
placenoun/site-settings.py
placenoun/apache/
placenoun/placenoun
