<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Placenoun</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
  </head>
  <body>
    <img src="{{ noun.image.url }}" />
    <ul>
      <li>Noun: {{ noun.noun }}</li>
      <li>ID: {{ noun.id }}</li>
      <li>Status: {{ noun.status }}</li>
      <li>Width: {{ noun.image.width }}</li>
      <li>Height: {{ noun.image.height }}</li>
    </ul>
  </body>
</html>
