<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Placenoun</title>
	</head>
	<body>
		<div>
      <header id="header">
        <h1>PlaceNoun</h1>
			</header>
			
			<div class="clear"></div>
			
			<div id="main">
        <p>Placenoun is the combination of <a href="http://www.fuckyeahnouns.com" target="_blank">FuckYeahNouns.com</a> and <a href="http://www.placekitten.com" target="_blank">PlaceKitten.com</a></p>
			</div>
			
			<div class="clear"></div>
			
			<footer id="footer">
        <p>
			</footer>
			
		
		</div>
	</body>
</html>
